<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title> Battleship | Lighthouse Labs </title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/page-style.css">
    <link type="text/css" rel="stylesheet" href="/game-style.css">
    <script type="text/javascript" src="/jquery-3.2.0.min.js"></script>
  </head>

  <body>
    <div id="top-bar">
      <h1>Battleship</h1>
      <h3>Lighthouse Labs Week 2 Project</h3>
    </div>

    <div id="main-container">
      <div id="main-container-mid">

        <div class="text-container">
          <div class="heading-container">
            <h2>Overview</h2>
            <a href="https://github.com/dmyronuk/lhl-bar-chart">https://github.com/dmyronuk/battleship</a>
          </div>
        </div>

        <div class=flex-container>
          <div id="game-info-container">
            <div id="game-info-left">
              <div id="game-info-heading">Hello Comrade</div>
              <div id="game-info-text">Tell us your name and select an opponent</div>
              <form action="/start" method="POST">
                <input class="start-game-input" type="text", name="alias", placeholder="Who are you?"></input>
                <input id="opponent-input" type="hidden" name="opponent" value="Jellicoe-Bot"></input>
                <input type="submit" class="styled-button red-text-hover" id="start-game-button" value="Start"></input>
              </form>
            </div>
            <div id="game-info-right">
              <table class="start-table">
                <tr>
                  <th>Online</th>
                </tr>
                <tr>
                  <td class="red-text-hover selected-opponent">Jellicoe-Bot</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class=flex-container>
          <div id="hero-board-container" class="game-container" owner="hero">
            <div class="board-label">You</div>
            <div class="row-label-container"></div>
            <div class="board"></div>
          </div>

          <button class="game-log-toggle hidden-elem">Game Log</button>
          <div class="game-log-container collapsed-log">
            <table class="game-log-table">
            </table>
          </div>
          <div id="opponent-board-container" class="game-container" owner="opponent">
            <div class="board-label">The Enemy</div>
            <div class="row-label-container"></div>
            <div class="board"></div>
          </div>
        </div>

      </div>
    </div>

    <div id="footer">
    </div>
  </body>

  <script type="text/javascript" src="/build-dom.js"></script>
  <script type="text/javascript" src="/play.js"></script>

</html>
